## Series

In [6]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [3]:
list_data = [1,2,3,4,5]
example_obj = Series(data = list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
list_data = [1,2,3,4,5]
list_name = ["a","b","c","d","e"]
example_obj = Series(data = list_data, index = list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
dic_data = {"a":1 , "b":2, "c":3, "d":4, "e":5}
example_obj = Series(dic_data, dtype=np.float32, name="example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [8]:
example_obj["a"]

1.0

In [10]:
example_obj["a"] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [11]:
example_obj.values

array([3.2, 2. , 3. , 4. , 5. ], dtype=float32)

In [12]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
example_obj.name = "number"
example_obj.index.name = "alphabet"
example_obj

alphabet
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float32